################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$程序具体实现.docx
/RunOCR/RunOCR/bin/Debug
/RunOCR/RunOCR/obj/Debug
